@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #D8DFE8;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}


.header{
    margin-top: 2%;
    margin-left: 2%;
}

.page-container{
    display: flex;
    gap: 15px;
}

.main-container{
   margin: 1% 0% 0% 10%;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   width: 50vw;
   min-height: 100vh;
}

#text_area {
    width: 80%;
    min-height: 70%;
    background-color: #D8DFE8;
    border: none;
    margin:2% 0% 0% 2%;
    color: #0A3871;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
}

#text_area:focus{
    outline: none;
}


#text_area::placeholder{
    color: #0A3871;
    font-size: 2rem;
}



.messages-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    width: 450px;
    margin-right: 2%;
    max-height: 98vh;
    text-align: center;
}

.alert{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    margin-left: 1%;
    font-size: 1rem;
}

.buttons{
    margin:0% 0% 5% 5%;
}

#lock, #unlock{
    border-radius: 24px;
    font-weight: 400;
    transition: ease-in-out 500ms;
    font-size: 1rem;
    word-wrap: break-word;
}

#lock:hover,
#unlock:hover {
    transform: scale(1.1) ;
    font-weight: 700;
    transition: ease-in-out 500ms;
}

#lock {
    width: 30%;
    height: 67px;
    background-color: #0a3871;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    border: none;
    margin-right: 24px;
}

#unlock {
    width: 30%;
    height: 67px;
    background-color: #D8DFE8;
    color: #0a3871;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0a3871;
}

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding-top: 1%;
    text-align: center;
    max-height: 100vh;
    background-color:#4289e0;
    gap: 10px;
}

.my-links{
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 1rem;
}

.my-links li  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.75rem;  
    align-items: center;
    gap: 5px;
}


.my-links a:active, .my-links a:visited, .my-links a:any-link {
    color: inherit;
    text-decoration: none;
    list-style-type: none;
}

.my-links img{
    width: 2%;
}

@media screen and (min-width:240px) and (max-width: 580px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        width: 100%;
    }

    .header{
       margin: none;
    }

    .page-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 0px;
    }

    .main-container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        margin: 0px;
     }

     #text_area {
        width: 90%;
        min-height: 650px;
        background-color: #D8DFE8;
        border: none;
        color: #0A3871;
        font-size: 2rem;
        font-family: 'Inter', sans-serif;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 0px 0px;
    }
    
    #lock, #unlock{
        border-radius: 24px;
        font-weight: 400;
        width: 90%;
    }

    #lock {
        background-color: #0a3871;
        color: #FFFFFF;
        font-family: 'Inter', sans-serif;
        border: none;
        margin-bottom: 10px;      
        margin-right: 0px;  
    }

    #unlock {
        background-color: #D8DFE8;
        color: #0a3871;
        font-family: 'Inter', sans-serif;
        border: 1px solid #0a3871;
    }

    .messages-container{
        padding: 5% 0% 5% 0%;
        margin-top: 10px;  
        width: 95vw;
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: #FFFFFF;
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        max-height: 100vh;
        text-align: center;
    }

    .messages-container img {
        display: none;
    }

    .footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        width:100%;
        background-color:#4289e0;
        gap: 10px;
        font-size: 14px;
        position: absolute;
    }

    .my-links img{
        width: 8%;
    }
}